<div class="container">
  <div class="card-kawaii">
    <h2>Login</h2>
    <p>Não possui conta? <a routerLink="/cadastro">Cadastre-se!</a></p>

    <!-- Formulário de Login -->
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          pInputText
          class="input-field"
          placeholder="Digite seu e-mail"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input
          type="password"
          id="senha"
          pInputText
          class="input-field"
          placeholder="Digite sua senha"
          [(ngModel)]="senha"
          name="senha"
          required
        />
      </div>
      <button pButton type="submit" label="Entrar" class="button-kawaii"></button>
    </form>

    <!-- Mensagens de Feedback -->
    <div *ngIf="successMessage" class="message success">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="message error">
      {{ errorMessage }}
    </div>
  </div>
</div>
