<div class="d-flex justify-content-center row d-flex align-items-center">
  <h6 class="text-sans">menu</h6>
  <button class="botao-menu" [routerLink]="''">
    <p class="text-sans" style="color: #f0484a;"><img src="assets/auxiliares/maca.png" width="12" height="12"
        alt="Ícone de um morango com um rostinho feliz"> home</p>
  </button>
  <button class="botao-menu" [routerLink]="'/news'">
    <p class="text-sans" style=" color: #b6bf41;"><img src="assets/auxiliares/melao.png" width="12" height="10"
        alt="Ícone de um melão com um rostinho piscando um olho e sorridente"> news</p>
  </button>
  <button class="botao-menu" [routerLink]="'/recipes'">
    <!--Categorias-->
    <p class="text-sans" style=" color: #dcb923;"><img src="assets/auxiliares/laranja.png" width="12" height="10"
        alt="Ícone de um pedaço com um rostinho com biquinho e olhos fechados"> cooks </p>
  </button>
  <button class="botao-menu" [routerLink]="'/about'">
    <p class="text-sans" style=" color: #bfda4e;"><img src="assets/auxiliares/pessego.png" width="12" height="10"
        alt="Ícone de um pêssego com um rostinho sorridente"> about </p>
  </button>
</div>
