.botao-menu{
  background-image: url('/assets/xadrezamarelo.png');
  background-size: cover;
  max-width: 80px;
  max-height: 20px;
  border-radius: 35%;
  border: 0px;
  margin-bottom: 5px;
}

.botao-menu:hover{
  background-image: url('/assets/xadrezrosa.jpg');
}
