<article class="col-md-12 post">
  <!--Post Sobre nos-->
  <div class="d-flex justify-content-center inside-post">
    <div class="d-flex flex-column mb-3 text-card d-flex align-items-center">
      <p>────୨ৎ──── ⸜(｡˃ ᵕ ˂ )⸝♡</p>
      <p class="texto-titulo"  >
        Este site de receitas foi desenvolvido como parte de um trabalho acadêmico para a disciplina de Programação Web, pertencente ao
         curso de Sistemas de Informação da Universidade Federal de Mato Grosso do Sul (UFMS), no Câmpus de Três Lagoas.
      </p>
      <p>© Todos os créditos são destinados aos artistas pelas artes utilizadas em nosso sistema, o qual não possui qualquer finalidade lucrativa.</p>

      <p>Professor: Humberto Lidio Antonelli (˶ᵔ ᵕ ᵔ˶)  </p>
      <p>Alunos: Gustavo Cortez de Paula, Mayara Marques de Oliveira Gonçalves e Ray Santiago Del Negro (˶˃⤙˂˶)</p>


      <svg width="100" height="80">
        <image width="100" height="80" href="assets/gifs/hello-about.gif" ></image>
      </svg>

      </div>
  </div>
</article>
