<svg width="102" height="80">
  <image href="assets/gifs/gifEsquerda01.gif"/>
</svg>
<svg width="100" height="80">
  <image href="assets/gifs/gifEsquerda02.gif"/>
</svg>
<svg width="100" height="80">
  <image href="assets/gifs/gifEsquerda03.gif"/>
</svg>
<svg width="100" height="80">
  <image href="assets/gifs/gifEsquerda04.gif"/>
</svg>
<svg width="100" height="80">
  <image href="assets/gifs/gifEsquerda05.gif"/>
</svg>
<svg width="100" height="80">
  <image href="assets/gifs/gifEsquerda06.gif" />
</svg>
<svg width="100" height="80">
  <image href="assets/gifs/gifEsquerda07.gif"/>
</svg>
