<svg width="102" height="80">
  <image alt="Personagens da Turma da Hello Kitty na cozinha lavando a louça e fazendo receitas" 
  href="assets/gifs/gifEsquerda01.gif"/>
</svg>
<svg width="100" height="80">
  <image alt="Personagens da Turma da Hello Kitty sentadas em duas mesas"
  href="assets/gifs/gifEsquerda02.gif"/>
</svg>
<svg width="100" height="80">
  <image alt="Personagens da Turma da Hello Kitty pulando com estrelinhas e bolinhas coloridas aparecendo"
  href="assets/gifs/gifEsquerda03.gif"/>
</svg>
<svg width="100" height="80">
  <image alt="Personagens da turma da Hello Kitty em um ambiente campestre, numa estrada, alguns estão acenando"
  href="assets/gifs/gifEsquerda04.gif"/>
</svg>
<svg width="100" height="80">
  <image alt="Personagem cachorro-pudim, PomPomPurin, e um hamster saboreando um hamburguer gigante com a legenda 'Im listening'"
  href="assets/gifs/gifEsquerda05.gif"/>
</svg>
<svg width="100" height="80">
  <image alt="Personagem coelho/cachorro branco, Cinamonroll, pulando em cima de um sorvete com brilhos se mexendo."
  href="assets/gifs/gifEsquerda06.gif" />
</svg>
<svg width="100" height="80">
  <image alt="Personagens da Turma da Hello Kitty em um quarto se divertindo, cada um fazendo uma atividade de costura e acenando."
  href="assets/gifs/gifEsquerda07.gif"/>
</svg>
