.select-ordena {
  background-color: #70564e;
  color: #fef7a6;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

.select-ordena option {
  background-color: #70564e;
  color: #fef7a6;
}

.select-ordena:focus {
  outline: none;
  box-shadow: 0 0 4px #fef7a6;
}

.select-ordena option:checked {
  background-color: #9b6650; 
}
.select-ordena:hover{
  display: block;
}

/* Opções individuais */
.select-item {
  padding: 10px;
  cursor: pointer;
}

.select-item:hover {
  background-color: #9b6650; /* Cor de fundo no hover */
}

.container {
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.25rem;
    color: #333;
  }
  
  .card-text {
    color: #555;
  }
  
  .list-group-item {
    font-size: 0.9rem;
    color: #666;
  }
  