.book{
  background-image: url(/assets/xadrezazul2.jpg);
  border-radius: 5%;
  border-right: 8px solid #fdfeff;
}

.opp-button {
  background-color: #fdfeff;
  border: none;
  border-radius: 15%;

  cursor: pointer;
  transition: all 0.3s ease;
}

.opp-button:hover {
  transform: scale(1.1);
}

.opp-button svg {
  transition: fill 0.3s ease;
}


