.post-recipe-page {
    background-color: #fef7a6; /* Cor de fundo clara */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h2 {
      font-family: 'Sans-serif', Arial, sans-serif;
      color: #4a291e; /* Cor marrom para título */
    }
  
    label {
      font-weight: bold;
      color: #4a291e;
    }
  
    .form-control {
      border-radius: 6px;
      border: 1px solid #ddd;
      &:focus {
        border-color: #4a291e;
        box-shadow: 0 0 5px rgba(74, 41, 30, 0.5);
      }
    }
  
    .btn {
      font-weight: bold;
      &.btn-primary {
        background-color: #4a291e;
        border-color: #4a291e;
        &:hover {
          background-color: #3a2116;
        }
      }
      &.btn-success {
        background-color: #b9da9b;
        border-color: #84cf3d;
        &:hover {
          background-color: #b9da9b;
        }
      }
      &.btn-danger {
        background-color: #f0484a;
        border-color: #f0484a;
        &:hover {
          background-color: #c03a3a;
        }
      }
    }
  }
  