<div class="col-md-12 post-recipe-page post">
  <div class="flex-row inside-post">
    <h2 class="text-center">Postar Nova Receita</h2>

    <form (submit)="submitRecipe($event)">
      <!-- Nome da Receita -->
      <div class="mb-4">
        <label for="recipeName" class="form-label">Nome da Receita</label>
        <input
          type="text"
          class="form-control"
          id="recipeName"
          [(ngModel)]="recipeData.name"
          name="name"
          placeholder="Digite o nome da receita"
          required
        />
      </div>

      <!-- Descrição -->
      <div class="mb-4">
        <label for="recipeDescription" class="form-label">Descrição</label>
        <textarea
          class="form-control"
          id="recipeDescription"
          [(ngModel)]="recipeData.description"
          name="description"
          rows="3"
          placeholder="Descreva sua receita"
          required
        ></textarea>
      </div>

      <!-- Categoria -->
      <div class="mb-4">
        <label for="recipeCategory" class="form-label">Categoria</label>
        <select
          class="form-select"
          id="recipeCategory"
          [(ngModel)]="recipeData.category.id"
          name="categoryId"
          required
        >
          <option *ngFor="let categoria of categorias; trackBy: trackByFn" [value]="categoria.id">
            {{ categoria.name }}
          </option>
        </select>
      </div>

      <!-- Informações Adicionais -->
      <div class="row mb-4">
        <div class="col">
          <label for="preparationTime" class="form-label">Tempo em minutos</label>
          <input
            type="number"
            class="form-control"
            id="preparationTime"
            [(ngModel)]="recipeData.preparationTime"
            name="preparationTime"
            placeholder="Ex: 45"
            required
          />
        </div>
        <div class="col">
          <label for="portion" class="form-label">Porções</label>
          <input
            type="number"
            class="form-control"
            id="portion"
            [(ngModel)]="recipeData.portion"
            name="portion"
            placeholder="Ex: 4"
            required
          />
        </div>
        <div class="col">
          <label for="calories" class="form-label">Calorias</label>
          <input
            type="number"
            class="form-control"
            id="calories"
            [(ngModel)]="recipeData.calories"
            name="calories"
            placeholder="Ex: 250"
            required
          />
        </div>
      </div>

      <!-- Ingredientes -->
      <div class="mb-4">
        <h4>Ingredientes</h4>
        <div *ngFor="let ingredient of ingredients; let i = index" class="input-group mb-2">
          <input
            type="text"
            class="form-control"
            placeholder="Ingrediente"
            [(ngModel)]="ingredients[i].name"
            name="ingredientName{{ i }}"
          />
          <input
            type="number"
            class="form-control"
            placeholder="Quantidade"
            [(ngModel)]="ingredients[i].amount"
            name="ingredientAmount{{ i }}"
          />
          <!-- Tipo do Ingrediente -->
          <input
            type="text"
            class="form-control"
            placeholder="Tipo (ex: gramas, colheres)"
            [(ngModel)]="ingredients[i].type"
            name="ingredientType{{ i }}"
            required
          />
          <br>
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeIngredient(i)"
          >
            Remover
          </button>
          <button type="button" class="btn btn-success" (click)="addIngredient()">
            Adicionar Ingrediente
          </button>
        </div>
      </div>

      <!-- Instruções -->
      <div class="mb-4">
        <h4>Instruções</h4>
        <div *ngFor="let instruction of instructions; let i = index" class="mb-2">
          <textarea
            class="form-control"
            placeholder="Passo"
            [(ngModel)]="instructions[i].step"
            name="instructionStep{{ i }}"
            rows="2"
          ></textarea>
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeInstruction(i)"
          >
            Remover
          </button>
          <button type="button" class="btn btn-success" (click)="addInstruction()">
            Adicionar Passo
          </button>
        </div>
      </div>

      <!-- Upload de Imagem -->
      <div class="mb-4">
        <h4>Imagem</h4>
        <input
          type="file"
          class="form-control"
          (change)="onFileSelected($event)"
          accept=".png, .jpg, .jpeg, .svg"
        />
      </div>

      <!-- Botão de Submissão -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary w-100">Salvar Receita</button>
      </div>
    </form>
  </div>
</div> 