<article class="col-md-12 post">
  <!--Post dos MinhasReceitas-->
  <div class="d-flex justify-content-center inside-post ">
    <app-content-myrecipes></app-content-myrecipes>
  </div>
</article>

<article class="col-md-12 post" style="background-image: url('/assets/xadrezmarrom3.jpg');">
  <!--Post dos MinhasReceitas-->
  <div class="inside-post d-flex flex-column align-items-center">
    <p class="texto-titulo" style="font-size: 15px; "> Minhas Receitas </p>
    <div class="p-2">
      <button class="btn btn-CRUD texto-titulo" type="button" [routerLink]="'/recipe/post'">
        <svg width="35" height="35" style="border-right:  solid; margin: 0px; padding: 0px;">
          <image width="35" height="35" href="assets/gifs/hello.gif"></image>
        </svg>
        Criar nova Receita!
      </button>
    </div>
  </div>
</article>

<!--Post Receita-->
@for (receita of receitas; track $index) {
<app-post-recipe [receita]="receita"></app-post-recipe>
<article class="col-md-12 post-options">
  <!--Post dos Livros-->
  <div class="inside-post d-flex justify-content-between">
    <div>
      <div class="d-flex flex-row">
        @if(!receita.published_at && !receitaNoLivro(receita.id)) {
          <button (click)="openModalDelete(receita.id)" class="opp-button card shadow m-1">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#cd2454">
              <path
                d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
            </svg>
          </button>
          <button class="opp-button card shadow m-1" [routerLink]="'/recipe/editar/'+receita.id">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#76c56c">
              <path
                d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
            </svg>
          </button>
        }
      </div>
    </div>
    <p class="flex-fill">
      °❀⋆.ೃ࿔*:･°❀⋆.ೃ࿔*:･
    </p>

    <div>
      @if(!receita.published_at){
        <button (click)="publicarReceita(receita)" class="btn btn-CRUD texto-titulo" type="button" style="font-size: 12px;">
          <svg width="40" height="25">
            <image width="40" height="25" href="assets/gifs/post-hello.gif"></image>
          </svg>
          Publicar!
        </button>
      }
      @else {
        <button class="btn btn-CRUD texto-titulo" type="button" style="font-size: 12px;" disabled>
          <svg width="40" height="25">
            <image width="40" height="25" href="assets/gifs/post-hello.gif"></image>
          </svg>
          <b>
            Receita publicada!
          </b>
        </button>
      }
    </div>
  </div>
</article>
}

<!--Modal delete-->
<div class="modal fade text-card" #receitaExcluirModal tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content form-modal">
      <div class="modal-header">
        <div class="post" style="border-radius: 45%;">
          <div class="inside-post" style="border-radius: 45%;">
            <p style="
     font-family: 'PixelSix00', sans-serif; color: #f4b9cf; font-size: 11px; height: 1px;">
              excluir receita
            </p>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você realmente deseja excluir essa receita?
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="excluirReceita()" type="button" class="btn d-flex align-items-center" style="max-width: 80px;
        max-height: 20px; color: #fdfeff;
        border-radius: 15%;background-color: #ec2335;">sim</button>
        <button type="button" class="btn  d-flex align-items-center" data-bs-dismiss="modal" style="  max-width: 80px;
        max-height: 20px; color: #fdfeff;
        border-radius: 15%; background-color: #50e3c2;">não</button>
      </div>
    </div>
  </div>
</div>
