<svg width="102" height="80">
    <image alt="Personagem 'PunPunPurin' acenando" 
    href="assets/gifs/ponsimples.gif"/>
</svg>
<svg width="102" height="80">
    <image alt="Personagem 'PunPunPurin' e 'Cinamonroll' avaliando com nota 10" 
    href="assets/gifs/poncina10.gif"/>
</svg>
<svg width="102" height="80">
    <image alt="Personagem 'PunPunPurin' comendo panqueca com a frase 'Morning'" 
    href="assets/gifs/ponpanqueca.gif"/>
</svg>
<svg width="102" height="80">
    <image alt="Personagem 'PunPunPurin' e amigos pulando com confetes" 
    href="assets/gifs/ponmigopula.gif"/>
</svg>
<svg width="102" height="80">
    <image alt="Personagem 'PunPunPurin' dentro de um hamburguer com a frase 'Youre the best'" 
    href="assets/gifs/ponponpurinsanduba.gif"/>
</svg>