<svg width="102" height="80">
    <image alt="Personagem 'PunPunPurin' garçon com uma bandeija na mão" 
    href="assets/gifs/punpunpuringarcon.gif"/>
</svg>
<svg width="102" height="80">
    <image alt="Personagem 'PunPunPurin' com brilhos aparecendo" 
    href="assets/gifs/punpunpurin_brilho.gif"/>
</svg>
<svg width="102" height="80">
    <image alt="Personagem 'PunPunPurin' rindo" 
    href="assets/gifs/punpunpurin_rindo.gif"/>
</svg>
<svg width="102" height="80">
    <image alt="Personagem 'PunPunPurin' comendo salada" 
    href="assets/gifs/ponponpurincomendo.gif"/>
</svg>
<svg width="102" height="80">
    <image alt="Personagem 'PunPunPurin' dentro de um hamburguer com a frase 'Youre the best'" 
    href="assets/gifs/punpunpurinsanduba.gif"/>
</svg>