<article class="col-md-12 post">
  <!--Post Novidades-->
   <div class="d-flex justify-content-center inside-post ">
   <app-content-news></app-content-news>
 </div>
</article>

<!--Post Receita-->
<article class="col-md-12 post">
 <div class="d-flex flex-row inside-post">
   <div>
     <img [src]="imageService.getPerfilAleatorio(1)" alt="imagem de perfil"> <!--quero usar ts nesse alt-->
   </div>
   <div class="p-2 flex-fill text-post">
     <div class="d-flex justify-content-start align-items-end">
       <div class="post" style="border-radius: 45%;">
         <div class="inside-post" style="border-radius: 45%;">
           <p style="
               font-family: 'PixelSix00', sans-serif; color: #f4b9cf; font-size: 11px; height: 1px;">
             ray marques
           </p>
         </div>
       </div>
       <div class="d-flex justify-content-end flex-fill">
         <!--Quando clicar em um desses paragraphs a rota vai para o livro ou categoria-->
         <p class="post-tag"> livro</p>
         <p class="post-tag"> categoria</p>
       </div>

     </div>
     <h5>Receita de pudim</h5>
     <p>Veja como fazer essa receita de pudim de leite condensado lisinho e com uma calda perfeita de caramelo. Ele
       é delicioso, barato e bem rápido de preparar! Com sua textura macia e sabor inconfundível, esse doce é uma
       verdadeira tentação para os amantes de sobremesas tradicionais. Fácil de preparar e com ingredientes
       simples, o pudim é uma opção perfeita para adoçar qualquer ocasião especial. Com um modo de preparo bem
       simples, envolvendo poucos ingredientes como leite condensado, leite, ovos e açúcar para a calda, você irá
       criar uma sobremesa que certamente vai encantar a todos os paladares. Surpreenda sua família e amigos com
       esse clássico da culinária, que além de delicioso, possui uma apresentação encantadora. Siga o passo a passo
       desta receita e mergulhe nessa experiência de sabores que certamente vai conquistar a todos.</p>
     <!--Avaliação (mudar depois)-->
     <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f8d92a">
       <path
         d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
     </svg>
     <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f8d92a">
       <path
         d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
     </svg>
     <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f8d92a">
       <path
         d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
     </svg>
     <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f8d92a">
       <path
         d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
     </svg>
     <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f8d92a">
       <path
         d="m609-293-34-144 111-95-147-13-59-137v313l129 76ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Z" />
     </svg>
     <div class="d-grid gap-2 d-md-flex justify-content-md-end">
       <button class="btn-page">
         <svg width="32" height="32">
           <image href="assets/auxiliares/hello-cozinhar.png" width="32" height="32">
           </image>
         </svg>
         Vamos cozinhar!!
       </button>
     </div>
   </div>
 </div>
</article>

<!--Post Receita-->
<article class="col-md-12 post">
 <div class="d-flex flex-row inside-post">
   <div>
     <img [src]="imageService.getPerfilAleatorio(16)" alt="imagem de perfil"> <!--quero usar ts nesse alt-->
   </div>
   <div class="p-2 flex-fill text-post">
     <div class="d-flex justify-content-start align-items-end">
       <div class="post" style="border-radius: 45%;">
         <div class="inside-post" style="border-radius: 45%;">
           <p style="
               font-family: 'PixelSix00', sans-serif; color: #f4b9cf; font-size: 11px; height: 1px;">
             ray marques
           </p>
         </div>
       </div>
       <div class="d-flex justify-content-end flex-fill">
         <!--Quando clicar em um desses paragraphs a rota vai para o livro ou categoria-->
         <p class="post-tag"> livro</p>
         <p class="post-tag"> categoria</p>
       </div>

     </div>
     <h5>Receita de pudim</h5>
     <p>Veja como fazer essa receita de pudim de leite condensado lisinho e com uma calda perfeita de caramelo. Ele
       é delicioso, barato e bem rápido de preparar! Com sua textura macia e sabor inconfundível, esse doce é uma
       verdadeira tentação para os amantes de sobremesas tradicionais. Fácil de preparar e com ingredientes
       simples, o pudim é uma opção perfeita para adoçar qualquer ocasião especial. Com um modo de preparo bem
       simples, envolvendo poucos ingredientes como leite condensado, leite, ovos e açúcar para a calda, você irá
       criar uma sobremesa que certamente vai encantar a todos os paladares. Surpreenda sua família e amigos com
       esse clássico da culinária, que além de delicioso, possui uma apresentação encantadora. Siga o passo a passo
       desta receita e mergulhe nessa experiência de sabores que certamente vai conquistar a todos.</p>
     <!--Avaliação (mudar depois)-->
     <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f8d92a">
       <path
         d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
     </svg>
     <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f8d92a">
       <path
         d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
     </svg>
     <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f8d92a">
       <path
         d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
     </svg>
     <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f8d92a">
       <path
         d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
     </svg>
     <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f8d92a">
       <path
         d="m609-293-34-144 111-95-147-13-59-137v313l129 76ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Z" />
     </svg>
     <div class="d-grid gap-2 d-md-flex justify-content-md-end">
       <button class="btn-page">
         <svg width="32" height="32">
           <image href="assets/auxiliares/hello-cozinhar.png" width="32" height="32">
           </image>
         </svg>
         Vamos cozinhar!!
       </button>
     </div>
   </div>
 </div>
</article>
