<div class="d-flex flex-column mb-3 text-card d-flex align-items-center">
  <p class="texto-titulo" style="font-size: 15px; ">Aqui estão as receitas cadastradas a seu livro!
  </p>
  <p>૮₍´˶• . • ⑅ ₎ა</p>
  <svg width="100" height="80">
    <image width="100" height="80" href="assets/gifs/kuromi-book.gif"></image>
  </svg>

  <div class="p-1">
    <button (click)="openModalAdd()" class="btn btn-CRUD texto-titulo" type="button">
      <svg width="35" height="35">
        <image width="35" height="35" href="assets/gifs/kuromi-books.gif"></image>
      </svg>
      Adicionar nova receita!
    </button>
  </div>
</div>

<!--Modal Add-->
<div class="modal fade text-card" #livroAddModal tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content form-modal">
      <div class="modal-header">
        <div class="post" style="border-radius: 45%;">
          <div class="inside-post" style="border-radius: 45%;">
            <p style="
     font-family: 'PixelSix00', sans-serif; color: #f4b9cf; font-size: 11px; height: 1px;">
              selecione uma receita que deseja adicionar
            </p>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 text-center">
          <label for="formedit" class="form-label">Minhas Receitas:</label>
          <select #receitaId class="form-select" aria-label="Default select example">
            <option value="-1" selected>Selecione a Receita</option>
            @for (receita of receitas; track $index) {
              <option [value]="receita.id" >{{ receita.name }} - {{ receita.published_at | date: 'dd/MM/yyyy HH:mm' }} </option>
            }
          </select>
          <div class="mb-3 text-center">
            <label for="formedit" class="form-label">Notas da receita:</label>
            <textarea #Inputnotes class="form-control" id="Inputnotes" rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="adicionarLivroReceita()" type="button" class="btn botao-menu d-flex align-items-center">anotar!</button>
      </div>
    </div>
  </div>
</div>
