.main-section {
  border-top: 7px solid #7c4e3e;
  background-color: #fef7a6;
  /* Cor amarela */
}

.sidebar {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top: 7px solid #7c4e3e;
  background-color: #7c4e3e;
  /* Cor marrom */
}

.right-sidebar {
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top: 7px solid #7c4e3e;
  background-color: #7c4e3e;
}

.custom-modal .modal-body {
  background-image: url('/assets/xadrezamarelo.png');
}

.custom-modal .modal-header {
  background-color: #fef7a6;
  border-bottom: 2px solid #dee2e6;
}

.custom-modal .nav-pills .nav-link.active {
  background-color: #4a291e;
  color: #fef7a6;
}

.custom-modal .nav-pills .nav-link {
  color: #495057;
}

.custom-modal .btn-primary {
  background-color: #4a291e;
  border-color: #4a291e;
}

.custom-modal .btn-success {
  background-color: #4a291e;
  border-color: #f13684;
}
