.main-section {
  border-top: 7px solid #7c4e3e;
  background-color: #fef7a6;
  /* Cor amarela */
}

.sidebar {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top: 7px solid #7c4e3e;
  background-color: #7c4e3e;
  /* Cor marrom */
}

.right-sidebar {
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top: 7px solid #7c4e3e;
  background-color: #7c4e3e;
}
