body {
    background-image: url('/assets/papeldeparede2.jpg');
    overflow-x: hidden;
}

.texto-titulo{
  color: #7c4e3e;
}

.menu {
  margin-top: 5px;
  border-radius: 15%;
  background-color: #fffdf1;
}

.text-card{
  font-size: 12px;
  text-align: center;
}

.post {
  background-image: url('/assets/xadrezrosa2.jpg');
  background-repeat: repeat;
  background-size: cover;
  overflow-x: hidden;
  border-radius: 5%;
  margin: 5px;

}

.inside-post {
  background-color: #fefbf0;
  margin: 5px;
  border-radius: 5%;
  border: 8px solid;
  border-color: #fff8ea;
}


.inside-post div img {
  left: 0;
  top: 0;
  width: 35px;
  height: 38px;
  background-color: #ffe8e0;
  border: 1px solid #000;
}

.text-post {
  font-size: 12px;
}

.btn-page {
  background-image: url('/assets/xadrezrosa.jpg');
  background-size: cover;
  border-radius: 20%;
  border: 0px;
  margin-bottom: 5px;
}

.botao-menu{
  background-image: url('/assets/xadrezamarelo.png');
  background-size: cover;
  max-width: 80px;
  max-height: 20px;
  border-radius: 15%;
  border: 0px;
  margin-bottom: 5px;
}

.botao-menu:hover{
  background-image: url('/assets/xadrezrosa.jpg');
}

.btn-CRUD{
  background-image: url('/assets/xadrezazul2.jpg');
  background-repeat: repeat;
  border-radius: 15%;
}

.btn-CRUD:hover{
  color: #fdb4d7;
}

.form-modal{
  background-image: url('/assets/xadrezazul2.jpg');
  border-radius: 8px;      /* Bordas arredondadas (opcional) */
}

.stars {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4px;
}

.stars li {
  display: inline-block;
}


.opp-button {
  background-color: #fdfeff;
  border: none;
  border-radius: 15%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.opp-button:hover {
  transform: scale(1.1);
}

.opp-button svg {
  transition: fill 0.3s ease;
}
