<div class="receita-detalhe">
    <!-- Nome da Receita -->
    <h1>{{ receita.name }}</h1>
  
    <!-- Imagem Principal -->
    @if(receita.images){
        <img 
        [src]="receita.images[0].url" 
        alt="{{ receita.name }}" 
        class="receita-imagem"
        >
    }
  
    <!-- Descrição -->
    <p>{{ receita.description }}</p>
  
    <!-- Informações Gerais -->
    <p><strong>Categoria:</strong> {{ receita.category.name }}</p>
    <p><strong>Tempo de Preparo:</strong> {{ receita.preparationTime }} minutos</p>
    <p><strong>Porções:</strong> {{ receita.portion }}</p>
    <p><strong>Calorias:</strong> {{ receita.calories }}</p>
    <p><strong>Publicado por:</strong> {{ receita.user.name }}</p>
    <p><strong>Data de Publicação:</strong> {{ receita.published_at | date }}</p>
  
    <!-- Ingredientes -->
    <h2>Ingredientes</h2>
    <ul>
      <li *ngFor="let ingrediente of receita?.ingredients">
        {{ ingrediente.name }} - {{ ingrediente.amount }} {{ ingrediente.type }}
      </li>
    </ul>
  
    <!-- Instruções -->
    <h2>Instruções</h2>
    <ol>
      <li *ngFor="let passo of receita?.instructions">
        {{ passo.step }}
      </li>
    </ol>

    <!-- Avaliações -->
    <section class="avaliacoes">
        <h2 class="titulo">Avaliações</h2>
        <div 
          *ngFor="let avaliacao of receita?.ratings" 
          class="avaliacao-item"
          style="background-image: url('/assets/xadrezmarrom3.jpg');"
        >
          <div class="avaliacao-header">
            <strong>{{ avaliacao.userName }}</strong>
            <ul class="stars">
              <li *ngFor="let star of generateStarArray(avaliacao.rating); let i = index">
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  height="20px" 
                  viewBox="0 -960 960 960" 
                  width="20px"
                  [attr.fill]="star === 'full' ? '#f8d92a' : star === 'half' ? '#f8d92a' : '#ddd'"
                >
                  <path d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Z" />
                </svg>
              </li>
            </ul>
          </div>
          <strong>Comentário: </strong>
          <p class="avaliacao-comment">{{ avaliacao?.comment }}</p>
        </div>
      </section>
    
      <!-- Adicionar Avaliação -->
      <section class="nova-avaliacao" *ngIf="isUserAuthenticated">
        <h3>Deixe sua Avaliação</h3>
        <div class="avaliacao-form">
          <input 
            type="number" 
            [(ngModel)]="novaAvaliacao.rating" 
            min="1" max="5" 
            class="form-input" 
            placeholder="Nota (1-5)"
          >
          <textarea 
            [(ngModel)]="novaAvaliacao.comment" 
            class="form-textarea" 
            placeholder="Escreva seu comentário"
          ></textarea>
          <button (click)="adicionarAvaliacao()" class="btn-enviar">Enviar Avaliação</button>
        </div>
      </section>
  </div>
  