.avaliacao{
  font-size: 12px;
}

textarea {
  font-size: 12px; /* Define o tamanho da fonte */
}

select {
  font-size: 12px; /* Define o tamanho da fonte */
}

button{
  font-size: 14px;
  color: #7c4e3e;
}

h6 {
  font-weight: bold;
}
