<article class="col-md-12 post">
  <!--Post Lost-->
  <div class="d-flex justify-content-center inside-post">
    <div class="d-flex flex-column mb-3 text-card d-flex align-items-center">
      <p class="texto-titulo" style="font-size: 15px; padding-top: 20px;">Opss! parece que você está perdido </p>
      <svg width="100" height="80">
        <image width="100" height="80" href="assets/gifs/triste.gif"></image>
      </svg>
      <button [routerLink]="''" class="btn btn-CRUD texto-titulo" type="button">
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/triste2.gif"></image>
        </svg>
        Ir para Tela Inicial!
      </button>
    </div>
  </div>
</article>



