<div class="d-flex flex-column mb-3 text-card">
  @if (isAuthenticated) {
  <!-- Exibição para usuário logado -->
  <h6>Bem-vindo de volta, {{ userName }}!</h6>
  <p>Estamos felizes em te ver de volta. Confira nossas receitas mais recentes!</p>
  }
  @else {
  <!-- Exibição para visitante -->
  <h6>🎀🍰 Bem-vindos ao mundo de receitas de Hello Kittchen! 🍓✨</h6>
  }
  <p>
    (✿◕‿◕)ﾉ💖 Aqui, cada receita é um pedacinho de fofura e magia, feita com amor e muita criatividade! 🧁✨ Se
    você ama cozinhar, se deliciar com pratos lindos e explorar receitas doces e salgadas, este é o seu lugar!
    🍩🌸
  </p>
  <p>🍓🌟 Navegue pelo nossos cardápios de fofuras </p>
  <p>🍪 Receitas fáceis e rápidas para adoçar o seu dia! </p>
  <p>🍓 Sobremesas irresistíveis dignas de um café com a Hello Kitty! </p>
  <p>🍳 Pratos salgados com um toque especial de charme. </p>
  <p>(っ◕‿◕)っ🍓 Prepare seus utensílios, seu avental e venha conosco! Aqui, cada receita vem acompanhada de muito
    carinho e, claro, muitos emojis fofinhos! 💕</p>
  <p>🍒✨ Vamos transformar cada refeição em uma festa mágica e cheia de amor! 🌸✨</p>
  <p>ʕ •ᴥ•ʔゝ💖 Arigatou por estar aqui!</p>
  <p>🍰🎀 Divirta-se e bom apetite! 🎀🍰</p>
</div>
