<div class="container mt-3 text-center">
  <!-- Título Dinâmico -->
   <p>⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆</p>
  <h5 style="color: #70564e;">Receitas da Categoria</h5>
  <p>⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆</p>

  <!-- Dropdown para Ordenação -->
  <div class="mb-3">
    <label for="sortBy" class="form-label">Ordenar por:</label>
    <select
      id="sortBy"
      class="form-select select-ordena"
      [value]="sortBy"
      (change)="onSortChange($event)"
    >
      <option class="select-item" value="score">Melhor Avaliados</option>
      <option class="select-item" value="preparationTime">Tempo de Preparo</option>
      <option class="select-item" value="name">Nome</option>
    </select>
  </div>
</div>
  <!-- Mensagem de Carregamento -->
  @if(isLoading){
    <div class="text-center">
      <p>Carregando receitas...</p>
    </div>
  }

  @if(!isLoading && receitas.length === 0){
    <div class="text-center">
      <p>Nenhuma receita encontrada (╥﹏╥)</p>
    </div>
  }
  <!-- Lista de Receitas -->
  @if(receitas.length > 0){
    <div class="row">
      @for (receita of receitas; track $index) {
        <!--Post Receita-->
        <app-post-recipe [receita]="receita"></app-post-recipe>
        }
    </div>
  }
