<article class="col-md-12 post">
  <!--Categorias-->
   <div class="d-flex justify-content-center inside-post ">
    <div class="d-grid gap-2">
      <h6 class="texto-titulo text-center">°❀⋆.ೃ࿔*:･°❀⋆.ೃ࿔*:･<br>Categorias de Receitas<br>°❀⋆.ೃ࿔*:･°❀⋆.ೃ࿔*:･</h6>
      <button class="btn btn-categoria texto-titulo" type="button" [routerLink]="'/categoria'">
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
        Aves
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
      </button>
      <button class="btn btn-categoria texto-titulo" type="button" [routerLink]="'/categoria'">
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
        Salgado
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
      </button>
      <button class="btn btn-categoria texto-titulo" type="button"  [routerLink]="'/categoria'">
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
        Peixes
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
      </button>
      <button class="btn btn-categoria texto-titulo" type="button" [routerLink]="'/categoria'">
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
        Carnes
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
      </button>
      <button class="btn btn-categoria texto-titulo" type="button"  [routerLink]="'/categoria'">
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
        Sobremesas
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
      </button>
      <button class="btn btn-categoria texto-titulo btn-categoria" type="button"  [routerLink]="'/categoria'">
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
        Bolos
        <svg width="35" height="35">
          <image width="35" height="35" href="assets/gifs/cinnacategorias.gif" ></image>
        </svg>
      </button>
    </div>

  </div>
</article>



